services:
  nest-app:
    build: .
    container_name: nest-streamlit
    ports:
      - "8501:8501"
    volumes:
      - ./app:/app/app
      - ./src:/app/src
      - ./models:/app/models
      - ./data:/app/data
      - ./.streamlit:/app/.streamlit
    environment:
      - GEMINI_API_KEY=${GEMINI_API_KEY}
    command: [ "streamlit", "run", "app/main.py", "--server.port=8501", "--server.address=0.0.0.0" ]
    restart: unless-stopped
