services:
  endorisk-app:
    build: .
    container_name: endorisk-streamlit
    ports:
      - "8501:8501"
    volumes:
      - ./app:/app/app
      - ./models:/app/models
      - ./data:/app/data
      - ./images:/app/images
      - ./.streamlit:/app/.streamlit
    command: [ "streamlit", "run", "app/main.py", "--server.port=8501", "--server.address=0.0.0.0" ]
    restart: unless-stopped
